.header-flex-dark {
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #061425;
}

.header-flex-light {
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}